-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."application_status" AS ENUM ('pending', 'approved', 'rejected');

-- CreateEnum
CREATE TYPE "public"."approve_application_status" AS ENUM ('pending', 'accepted', 'rejected');

-- CreateEnum
CREATE TYPE "public"."blog_status" AS ENUM ('draft', 'published', 'archived');

-- CreateEnum
CREATE TYPE "public"."equipment_category" AS ENUM ('provided', 'required', 'optional');

-- CreateEnum
CREATE TYPE "public"."payment_method" AS ENUM ('Bank', 'e-wallet', 'PayPal', 'Other');

-- CreateEnum
CREATE TYPE "public"."payment_status" AS ENUM ('pending', 'completed', 'failed', 'refunded');

-- CreateEnum
CREATE TYPE "public"."session_format" AS ENUM ('Live', 'Recorded', 'Hybrid');

-- CreateEnum
CREATE TYPE "public"."subscription_plan" AS ENUM ('starseeker', 'galaxy_explorer', 'cosmic_voyager');

-- CreateEnum
CREATE TYPE "public"."subscription_status" AS ENUM ('active', 'cancelled', 'expired', 'pending');

-- CreateEnum
CREATE TYPE "public"."user_role" AS ENUM ('admin', 'moderator', 'learner', 'guide', 'enthusiast', 'mentor', 'influencer');

-- CreateTable
CREATE TABLE "public"."subscriptions" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER,
    "plan_type" "public"."subscription_plan" NOT NULL,
    "status" "public"."subscription_status" DEFAULT 'pending',
    "start_date" TIMESTAMP(6) NOT NULL,
    "end_date" TIMESTAMP(6),
    "auto_renew" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "cancelled_at" TIMESTAMP(6),
    "cancellation_reason" TEXT,

    CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."blog_views" (
    "id" SERIAL NOT NULL,
    "blog_id" INTEGER,
    "user_id" INTEGER,
    "ip_address" INET,
    "user_agent" TEXT,
    "viewed_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "blog_views_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."night_camps" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "organized_by" VARCHAR(255),
    "sponsored_by" VARCHAR(255),
    "description" TEXT,
    "date" DATE NOT NULL,
    "time" TIME(6),
    "location" VARCHAR(500) NOT NULL,
    "number_of_participants" INTEGER DEFAULT 0,
    "image_urls" JSONB DEFAULT '[]',
    "emergency_contact" VARCHAR(255),
    "status" VARCHAR(50) DEFAULT 'pending',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "night_camps_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."night_camps_activities" (
    "id" SERIAL NOT NULL,
    "night_camp_id" INTEGER,
    "activity" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "night_camps_activities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."chatbot_sessions" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" INTEGER,
    "firebase_uid" VARCHAR(255) NOT NULL,
    "title" VARCHAR(255) DEFAULT 'New Chat',
    "is_active" BOOLEAN DEFAULT true,
    "message_count" INTEGER DEFAULT 0,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chatbot_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."payments" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER,
    "subscription_id" INTEGER,
    "amount" DECIMAL(10,2) NOT NULL,
    "currency" VARCHAR(3) DEFAULT 'LKR',
    "payment_status" "public"."payment_status" DEFAULT 'pending',
    "payment_method" VARCHAR(50),
    "payment_gateway" VARCHAR(50) DEFAULT 'payhere',
    "gateway_transaction_id" VARCHAR(255),
    "gateway_order_id" VARCHAR(255),
    "payment_date" TIMESTAMP(6),
    "metadata" JSONB DEFAULT '{}',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."blogs" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "content" TEXT NOT NULL,
    "excerpt" TEXT,
    "featured_image" TEXT,
    "author_id" INTEGER,
    "author_name" VARCHAR(255),
    "status" VARCHAR(20) DEFAULT 'draft',
    "is_featured" BOOLEAN DEFAULT false,
    "views_count" INTEGER DEFAULT 0,
    "likes_count" INTEGER DEFAULT 0,
    "comments_count" INTEGER DEFAULT 0,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "image_url" VARCHAR(500),
    "published_at" TIMESTAMP(6),
    "view_count" INTEGER DEFAULT 0,
    "like_count" INTEGER DEFAULT 0,
    "comment_count" INTEGER DEFAULT 0,
    "tags" JSONB DEFAULT '[]',
    "metadata" JSONB DEFAULT '{}',

    CONSTRAINT "blogs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."blog_category_relations" (
    "id" SERIAL NOT NULL,
    "blog_id" INTEGER,
    "category_id" INTEGER,

    CONSTRAINT "blog_category_relations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."subscription_plans" (
    "id" SERIAL NOT NULL,
    "plan_type" "public"."subscription_plan" NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "description" TEXT,
    "price_lkr" DECIMAL(10,2) NOT NULL,
    "price_usd" DECIMAL(10,2),
    "features" JSONB NOT NULL,
    "chatbot_questions_limit" INTEGER,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "subscription_plans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."blog_categories" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "description" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "blog_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."chatbot_usage" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER,
    "question_count" INTEGER DEFAULT 1,
    "usage_date" DATE DEFAULT CURRENT_DATE,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chatbot_usage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."blog_comments" (
    "id" SERIAL NOT NULL,
    "blog_id" INTEGER,
    "user_id" INTEGER,
    "parent_comment_id" INTEGER,
    "content" TEXT NOT NULL,
    "is_edited" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "blog_comments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."users" (
    "id" SERIAL NOT NULL,
    "firebase_uid" VARCHAR(255) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "role" "public"."user_role" DEFAULT 'learner',
    "first_name" VARCHAR(100),
    "last_name" VARCHAR(100),
    "is_active" BOOLEAN DEFAULT true,
    "last_login" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "display_name" VARCHAR(100),
    "profile_data" JSONB DEFAULT '{}',
    "role_specific_data" JSONB DEFAULT '{}',
    "subscription_plan" "public"."subscription_plan" DEFAULT 'starseeker',
    "subscription_status" "public"."subscription_status" DEFAULT 'active',
    "subscription_start_date" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "subscription_end_date" TIMESTAMP(6),
    "auto_renew" BOOLEAN DEFAULT false,
    "chatbot_questions_used" INTEGER DEFAULT 0,
    "chatbot_questions_reset_date" DATE DEFAULT CURRENT_DATE,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."blog_likes" (
    "id" SERIAL NOT NULL,
    "blog_id" INTEGER,
    "user_id" INTEGER,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "blog_likes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."chatbot_messages" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "session_id" UUID,
    "content" TEXT NOT NULL,
    "is_bot" BOOLEAN NOT NULL DEFAULT false,
    "firebase_uid" VARCHAR(255),
    "confidence" DECIMAL(3,2),
    "intent" VARCHAR(100),
    "entities" JSONB,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chatbot_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."night_camps_equipment" (
    "id" SERIAL NOT NULL,
    "night_camp_id" INTEGER,
    "category" "public"."equipment_category" NOT NULL,
    "equipment_name" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "night_camps_equipment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_settings" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER,
    "language" VARCHAR(10) DEFAULT 'en',
    "email_notifications" BOOLEAN DEFAULT true,
    "push_notifications" BOOLEAN DEFAULT true,
    "profile_visibility" VARCHAR(20) DEFAULT 'public',
    "allow_direct_messages" BOOLEAN DEFAULT true,
    "show_online_status" BOOLEAN DEFAULT true,
    "theme" VARCHAR(10) DEFAULT 'dark',
    "timezone" VARCHAR(50) DEFAULT 'UTC',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."chatbot_feedback" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "message_id" UUID,
    "session_id" UUID,
    "firebase_uid" VARCHAR(255) NOT NULL,
    "rating" INTEGER,
    "feedback_text" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chatbot_feedback_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."night_camp_volunteering" (
    "id" SERIAL NOT NULL,
    "night_camp_id" INTEGER,
    "volunteering_role" VARCHAR(255) NOT NULL,
    "number_of_applicants" INTEGER DEFAULT 0,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "night_camp_volunteering_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."role_upgrade_requests" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER,
    "current_user_role" VARCHAR(20) NOT NULL,
    "requested_user_role" VARCHAR(20) NOT NULL,
    "reason" TEXT,
    "supporting_evidence" JSONB DEFAULT '[]',
    "status" VARCHAR(20) DEFAULT 'pending',
    "reviewer_id" INTEGER,
    "reviewer_notes" TEXT,
    "submitted_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "reviewed_at" TIMESTAMP(6),

    CONSTRAINT "role_upgrade_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."guide_application" (
    "application_id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "first_name" VARCHAR(100) NOT NULL,
    "last_name" VARCHAR(100) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "phone" VARCHAR(20) NOT NULL,
    "date_of_birth" DATE,
    "address" TEXT,
    "city" VARCHAR(100),
    "current_occupation" VARCHAR(255),
    "education_level" VARCHAR(255),
    "astronomy_education" TEXT,
    "guide_experience" TEXT,
    "total_experience" INTEGER NOT NULL DEFAULT 0,
    "certifications" JSONB DEFAULT '[]',
    "astronomy_skills" JSONB DEFAULT '[]',
    "languages" JSONB DEFAULT '[]',
    "first_aid" BOOLEAN DEFAULT false,
    "driving_license" BOOLEAN DEFAULT false,
    "camp_types" JSONB DEFAULT '[]',
    "group_sizes" JSONB DEFAULT '[]',
    "equipment_familiarity" JSONB DEFAULT '[]',
    "outdoor_experience" TEXT,
    "available_dates" JSONB DEFAULT '[]',
    "preferred_locations" JSONB DEFAULT '[]',
    "accommodation_needs" TEXT,
    "transportation_needs" TEXT,
    "motivation" TEXT,
    "special_skills" TEXT,
    "emergency_contact" JSONB NOT NULL DEFAULT '{}',
    "documents" JSONB DEFAULT '{}',
    "selected_camps" JSONB DEFAULT '[]',
    "application_status" "public"."application_status" DEFAULT 'pending',
    "approve_application_status" "public"."approve_application_status" DEFAULT 'pending',
    "terms_accepted" BOOLEAN DEFAULT false,
    "background_check_consent" BOOLEAN DEFAULT false,
    "deletion_status" BOOLEAN DEFAULT false,
    "submitted_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "guide_application_pkey" PRIMARY KEY ("application_id")
);

-- CreateTable
CREATE TABLE "public"."mentor_application" (
    "application_id" SERIAL NOT NULL,
    "user_id" INTEGER,
    "first_name" VARCHAR(100),
    "last_name" VARCHAR(100),
    "email" VARCHAR(255),
    "phone_number" VARCHAR(50),
    "date_of_birth" DATE,
    "country" VARCHAR(100),
    "profile_bio" TEXT,
    "educational_background" TEXT,
    "area_of_expertise" JSONB,
    "linkedin_profile" VARCHAR(255),
    "intro_video_url" VARCHAR(255),
    "max_mentees" INTEGER,
    "availability_schedule" JSONB,
    "motivation_statement" TEXT,
    "portfolio_attachments" JSONB,
    "application_status" "public"."application_status" DEFAULT 'pending',
    "approve_application_status" "public"."approve_application_status" DEFAULT 'pending',
    "deletion_status" BOOLEAN DEFAULT false,
    "submitted_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "mentor_application_pkey" PRIMARY KEY ("application_id")
);

-- CreateTable
CREATE TABLE "public"."night_camp_volunteering_applications" (
    "id" SERIAL NOT NULL,
    "night_camp_id" INTEGER,
    "user_id" INTEGER,
    "volunteering_role" VARCHAR(255) NOT NULL,
    "motivation" TEXT,
    "experience" TEXT,
    "availability" TEXT,
    "emergency_contact_name" VARCHAR(255),
    "emergency_contact_phone" VARCHAR(50),
    "emergency_contact_relationship" VARCHAR(100),
    "status" VARCHAR(50) DEFAULT 'pending',
    "application_date" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "reviewed_by" INTEGER,
    "reviewed_at" TIMESTAMP(6),
    "review_notes" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "night_camp_volunteering_applications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."night_camp_registrations" (
    "id" SERIAL NOT NULL,
    "camp_id" INTEGER,
    "user_id" INTEGER,
    "status" VARCHAR(50) DEFAULT 'confirmed',
    "registered_date" DATE DEFAULT CURRENT_DATE,
    "registered_time" TIME(6) DEFAULT CURRENT_TIME,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "night_camp_registrations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."influencer_application" (
    "application_id" SERIAL NOT NULL,
    "user_id" INTEGER,
    "first_name" VARCHAR(100),
    "last_name" VARCHAR(100),
    "email" VARCHAR(255),
    "phone_number" VARCHAR(50),
    "country" VARCHAR(100),
    "bio" TEXT,
    "specialization_tags" JSONB,
    "social_links" JSONB,
    "intro_video_url" VARCHAR(255),
    "sample_content_links" JSONB,
    "preferred_session_format" "public"."session_format",
    "willing_to_host_sessions" BOOLEAN,
    "tools_used" JSONB,
    "application_status" "public"."application_status" DEFAULT 'pending',
    "approve_application_status" "public"."approve_application_status" DEFAULT 'pending',
    "deletion_status" BOOLEAN DEFAULT false,
    "submitted_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "influencer_application_pkey" PRIMARY KEY ("application_id")
);

-- CreateIndex
CREATE INDEX "idx_subscriptions_status" ON "public"."subscriptions"("status");

-- CreateIndex
CREATE INDEX "idx_subscriptions_user_id" ON "public"."subscriptions"("user_id");

-- CreateIndex
CREATE INDEX "idx_blog_views_blog_id" ON "public"."blog_views"("blog_id");

-- CreateIndex
CREATE INDEX "idx_night_camps_created_at" ON "public"."night_camps"("created_at");

-- CreateIndex
CREATE INDEX "idx_night_camps_date" ON "public"."night_camps"("date");

-- CreateIndex
CREATE INDEX "idx_night_camps_location" ON "public"."night_camps"("location");

-- CreateIndex
CREATE INDEX "idx_night_camps_activities_camp_id" ON "public"."night_camps_activities"("night_camp_id");

-- CreateIndex
CREATE INDEX "idx_chatbot_sessions_active" ON "public"."chatbot_sessions"("is_active");

-- CreateIndex
CREATE INDEX "idx_chatbot_sessions_firebase_uid" ON "public"."chatbot_sessions"("firebase_uid");

-- CreateIndex
CREATE INDEX "idx_payments_status" ON "public"."payments"("payment_status");

-- CreateIndex
CREATE INDEX "idx_payments_subscription_id" ON "public"."payments"("subscription_id");

-- CreateIndex
CREATE INDEX "idx_payments_user_id" ON "public"."payments"("user_id");

-- CreateIndex
CREATE INDEX "idx_blogs_author_id" ON "public"."blogs"("author_id");

-- CreateIndex
CREATE INDEX "idx_blogs_created_at" ON "public"."blogs"("created_at");

-- CreateIndex
CREATE INDEX "idx_blogs_published_at" ON "public"."blogs"("published_at");

-- CreateIndex
CREATE INDEX "idx_blogs_status" ON "public"."blogs"("status");

-- CreateIndex
CREATE UNIQUE INDEX "blog_category_relations_blog_id_category_id_key" ON "public"."blog_category_relations"("blog_id", "category_id");

-- CreateIndex
CREATE UNIQUE INDEX "subscription_plans_plan_type_key" ON "public"."subscription_plans"("plan_type");

-- CreateIndex
CREATE UNIQUE INDEX "blog_categories_name_key" ON "public"."blog_categories"("name");

-- CreateIndex
CREATE INDEX "idx_chatbot_usage_user_date" ON "public"."chatbot_usage"("user_id", "usage_date");

-- CreateIndex
CREATE UNIQUE INDEX "chatbot_usage_user_id_usage_date_key" ON "public"."chatbot_usage"("user_id", "usage_date");

-- CreateIndex
CREATE INDEX "idx_blog_comments_blog_id" ON "public"."blog_comments"("blog_id");

-- CreateIndex
CREATE INDEX "idx_blog_comments_user_id" ON "public"."blog_comments"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "users_firebase_uid_key" ON "public"."users"("firebase_uid");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "public"."users"("email");

-- CreateIndex
CREATE INDEX "idx_users_active" ON "public"."users"("is_active");

-- CreateIndex
CREATE INDEX "idx_users_email" ON "public"."users"("email");

-- CreateIndex
CREATE INDEX "idx_users_firebase_uid" ON "public"."users"("firebase_uid");

-- CreateIndex
CREATE INDEX "idx_users_role" ON "public"."users"("role");

-- CreateIndex
CREATE INDEX "idx_users_subscription_plan" ON "public"."users"("subscription_plan");

-- CreateIndex
CREATE INDEX "idx_users_subscription_status" ON "public"."users"("subscription_status");

-- CreateIndex
CREATE INDEX "idx_blog_likes_blog_id" ON "public"."blog_likes"("blog_id");

-- CreateIndex
CREATE INDEX "idx_blog_likes_user_id" ON "public"."blog_likes"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "blog_likes_blog_id_user_id_key" ON "public"."blog_likes"("blog_id", "user_id");

-- CreateIndex
CREATE INDEX "idx_chatbot_messages_firebase_uid" ON "public"."chatbot_messages"("firebase_uid");

-- CreateIndex
CREATE INDEX "idx_chatbot_messages_session_id" ON "public"."chatbot_messages"("session_id");

-- CreateIndex
CREATE INDEX "idx_chatbot_messages_timestamp" ON "public"."chatbot_messages"("created_at");

-- CreateIndex
CREATE INDEX "idx_night_camps_equipment_camp_id" ON "public"."night_camps_equipment"("night_camp_id");

-- CreateIndex
CREATE INDEX "idx_night_camps_equipment_category" ON "public"."night_camps_equipment"("category");

-- CreateIndex
CREATE UNIQUE INDEX "user_settings_user_id_key" ON "public"."user_settings"("user_id");

-- CreateIndex
CREATE INDEX "idx_user_settings_user_id" ON "public"."user_settings"("user_id");

-- CreateIndex
CREATE INDEX "idx_chatbot_feedback_message_id" ON "public"."chatbot_feedback"("message_id");

-- CreateIndex
CREATE INDEX "idx_night_camp_volunteering_camp_id" ON "public"."night_camp_volunteering"("night_camp_id");

-- CreateIndex
CREATE INDEX "idx_role_upgrade_requests_status" ON "public"."role_upgrade_requests"("status");

-- CreateIndex
CREATE INDEX "idx_role_upgrade_requests_user_id" ON "public"."role_upgrade_requests"("user_id");

-- CreateIndex
CREATE INDEX "idx_guide_app_approve_status" ON "public"."guide_application"("approve_application_status");

-- CreateIndex
CREATE INDEX "idx_guide_app_status" ON "public"."guide_application"("application_status");

-- CreateIndex
CREATE INDEX "idx_guide_app_submitted_at" ON "public"."guide_application"("submitted_at");

-- CreateIndex
CREATE INDEX "idx_guide_app_user_id" ON "public"."guide_application"("user_id");

-- CreateIndex
CREATE INDEX "idx_mentor_application_deletion_status" ON "public"."mentor_application"("deletion_status");

-- CreateIndex
CREATE INDEX "idx_mentor_application_status" ON "public"."mentor_application"("application_status");

-- CreateIndex
CREATE INDEX "idx_mentor_application_user_id" ON "public"."mentor_application"("user_id");

-- CreateIndex
CREATE INDEX "idx_night_camp_volunteering_applications_camp_id" ON "public"."night_camp_volunteering_applications"("night_camp_id");

-- CreateIndex
CREATE INDEX "idx_night_camp_volunteering_applications_status" ON "public"."night_camp_volunteering_applications"("status");

-- CreateIndex
CREATE INDEX "idx_night_camp_volunteering_applications_user_id" ON "public"."night_camp_volunteering_applications"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "night_camp_volunteering_appli_night_camp_id_user_id_volunte_key" ON "public"."night_camp_volunteering_applications"("night_camp_id", "user_id", "volunteering_role");

-- CreateIndex
CREATE INDEX "idx_night_camp_registrations_camp_id" ON "public"."night_camp_registrations"("camp_id");

-- CreateIndex
CREATE INDEX "idx_night_camp_registrations_date" ON "public"."night_camp_registrations"("registered_date");

-- CreateIndex
CREATE INDEX "idx_night_camp_registrations_status" ON "public"."night_camp_registrations"("status");

-- CreateIndex
CREATE INDEX "idx_night_camp_registrations_user_id" ON "public"."night_camp_registrations"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "night_camp_registrations_camp_id_user_id_key" ON "public"."night_camp_registrations"("camp_id", "user_id");

-- CreateIndex
CREATE INDEX "idx_influencer_application_deletion_status" ON "public"."influencer_application"("deletion_status");

-- CreateIndex
CREATE INDEX "idx_influencer_application_status" ON "public"."influencer_application"("application_status");

-- CreateIndex
CREATE INDEX "idx_influencer_application_user_id" ON "public"."influencer_application"("user_id");

-- AddForeignKey
ALTER TABLE "public"."subscriptions" ADD CONSTRAINT "subscriptions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."blog_views" ADD CONSTRAINT "blog_views_blog_id_fkey" FOREIGN KEY ("blog_id") REFERENCES "public"."blogs"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."blog_views" ADD CONSTRAINT "blog_views_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."night_camps_activities" ADD CONSTRAINT "night_camps_activities_night_camp_id_fkey" FOREIGN KEY ("night_camp_id") REFERENCES "public"."night_camps"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."chatbot_sessions" ADD CONSTRAINT "chatbot_sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."payments" ADD CONSTRAINT "payments_subscription_id_fkey" FOREIGN KEY ("subscription_id") REFERENCES "public"."subscriptions"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."payments" ADD CONSTRAINT "payments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."blogs" ADD CONSTRAINT "blogs_author_id_fkey" FOREIGN KEY ("author_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."blog_category_relations" ADD CONSTRAINT "blog_category_relations_blog_id_fkey" FOREIGN KEY ("blog_id") REFERENCES "public"."blogs"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."blog_category_relations" ADD CONSTRAINT "blog_category_relations_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "public"."blog_categories"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."chatbot_usage" ADD CONSTRAINT "chatbot_usage_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."blog_comments" ADD CONSTRAINT "blog_comments_blog_id_fkey" FOREIGN KEY ("blog_id") REFERENCES "public"."blogs"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."blog_comments" ADD CONSTRAINT "blog_comments_parent_comment_id_fkey" FOREIGN KEY ("parent_comment_id") REFERENCES "public"."blog_comments"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."blog_comments" ADD CONSTRAINT "blog_comments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."blog_likes" ADD CONSTRAINT "blog_likes_blog_id_fkey" FOREIGN KEY ("blog_id") REFERENCES "public"."blogs"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."blog_likes" ADD CONSTRAINT "blog_likes_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."chatbot_messages" ADD CONSTRAINT "chatbot_messages_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "public"."chatbot_sessions"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."night_camps_equipment" ADD CONSTRAINT "night_camps_equipment_night_camp_id_fkey" FOREIGN KEY ("night_camp_id") REFERENCES "public"."night_camps"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."user_settings" ADD CONSTRAINT "user_settings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."chatbot_feedback" ADD CONSTRAINT "chatbot_feedback_message_id_fkey" FOREIGN KEY ("message_id") REFERENCES "public"."chatbot_messages"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."chatbot_feedback" ADD CONSTRAINT "chatbot_feedback_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "public"."chatbot_sessions"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."night_camp_volunteering" ADD CONSTRAINT "night_camp_volunteering_night_camp_id_fkey" FOREIGN KEY ("night_camp_id") REFERENCES "public"."night_camps"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."role_upgrade_requests" ADD CONSTRAINT "role_upgrade_requests_reviewer_id_fkey" FOREIGN KEY ("reviewer_id") REFERENCES "public"."users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."role_upgrade_requests" ADD CONSTRAINT "role_upgrade_requests_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."guide_application" ADD CONSTRAINT "guide_application_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."mentor_application" ADD CONSTRAINT "mentor_application_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."night_camp_volunteering_applications" ADD CONSTRAINT "night_camp_volunteering_applications_night_camp_id_fkey" FOREIGN KEY ("night_camp_id") REFERENCES "public"."night_camps"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."night_camp_volunteering_applications" ADD CONSTRAINT "night_camp_volunteering_applications_reviewed_by_fkey" FOREIGN KEY ("reviewed_by") REFERENCES "public"."users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."night_camp_volunteering_applications" ADD CONSTRAINT "night_camp_volunteering_applications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."night_camp_registrations" ADD CONSTRAINT "night_camp_registrations_camp_id_fkey" FOREIGN KEY ("camp_id") REFERENCES "public"."night_camps"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."night_camp_registrations" ADD CONSTRAINT "night_camp_registrations_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."influencer_application" ADD CONSTRAINT "influencer_application_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

